<div>
    <h1>Welcome to Meadowlark Travel</h1>
    <a href="/login">Login</a>
    <form action="/search" method="GET">
        <h3>Search</h3>
        <input type="text" name="name" placeholder="Search..." style="display: block;height:40px">
        <input type="submit" value="Search">
    </form>
    <a href="/contact">Contact Me</a>
    <a href="/download" style="display:block;">Download</a>
    <a href="/try" style="display:block;">Go to try</a>
    <a href="/try/{{id}}/search/{{id}}" style="display:block;">Go to parametersy</a>

</div>